@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR Employee Directory</h1>
    <p class="lead">Powered by <a href="http://asp.net/mvc">ASP.MVC</a>, <a href="https://github.com/pragmaticlogic/HREmployeeDir">Github</a>, <a href="http://appharbor.com">AppHarbor</a>.</p>    
    <p>@Html.ActionLink(@"Enter", "Index", "Employees", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

